:root {
    --main-color: #34547A;
    --secondary-color: #EEEFF1;

    --main-text-color: #727272;
    --text-letter-spacing: 0.1em;
    --text-light-color: white;

}

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif
}

.container {
    max-width: 1158px;
    padding-inline: 20px;
    margin-inline: auto;
    padding-block: 100px;
}

.header {
    background-color: var(--secondary-color);
}

.header .container {
    padding-block: 0 141px;
}

.description__about_par {
    font-size: 16px;
    color: var(--main-text-color);
    line-height: 26px;
    letter-spacing: 0.05em;
    max-width: 540px;
}

.description__title {
    padding-top: 80px;
    padding-bottom: 60px;
    font-size: 48px;
    font-weight: 500;
    margin: 0;
}

.navbar__list {
    margin-block: 0;
    padding-inline: 0;
    padding-block: 80px;
    display: flex;
    gap: 42px;
}

.navbar__item {
    list-style-type: none;
}

.navbar__item a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: var(--text-letter-spacing);
}

.navbar__item a:hover {
    color: #34547A;
}

.description__about {
    margin: 0;
    padding-bottom: 65px;
}

.description__button {
    /* color: var(--text-light-color);
    background-color: var(--main-color);
    border: 0;
    letter-spacing: var(--text-letter-spacing);
    text-transform: uppercase;
    padding-inline: 41px;
    padding-block: 25px 20px;
    margin-block: 65px 141px; */
    margin-top: 65px;
    width: 225px;
    height: 65px;
    background: #34547a;
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.light-block {
    margin-inline: auto;
}

.light-block__header {
    /* display: flex;
    justify-content: center; */
    margin: 0 auto;
    text-align: center;
    padding-block: 12px;
    font-weight: 500;
    font-size: 32px;
}

.light-block__text {
    margin: 0 auto;
    text-align: center;
    padding-top: 38px;
    max-width: 540px;
}

.dark-container {
    background-color: var(--main-color);
    color: var(--text-light-color);
}

/* .works {
    display: flex;
    gap: 49px;
}

.works__item {
    width: 141px;
    height: 50px;
    background: left no-repeat url(assets/project.svg);
    padding-left: 70px;
    font-size: 21px;
    line-height: 25px;
}

.works__projects {
    font-size: 16px;
    letter-spacing: 0.05em;
}
 */

.working__text {
    padding-bottom: 50px;
}

.work__list {
    display: flex;
    gap: 49px;
    justify-content: center;
}

.work__list__item {
    display: flex;
    gap: 20px;
}

.work__list__item__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.work__first__text {
    font-weight: 500;
    font-size: 21px;
    color: #fff;
}

.work__second__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    color: #fff;
}

.working__video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    padding-block: 50px;
}

.copyright__header {
    font-size: 21px;
    margin: 0;
    padding-bottom: 20px;
}

.copyright__sign {
    font-size: 13px;
    font-weight: 300;
}


/* Адаптація "Simple Site" до респонсивного дизайну */

/* TABLET */

@media screen and (max-width:1158px) {
    .container {
        width: 768px;
        padding-top: 50px;
        padding-bottom: 60px;
    }

    .navbar__list {
        align-items: center;
        justify-content: center;
    }

    .description__title {
        text-align: center;
    }

    .description__about_par {
        text-align: center;
        margin: 0 auto;
    }

    .description__button {
        margin: 0 auto;
        display: block;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    .work__list {
        flex-wrap: wrap;
    }

    iframe {
        width: 100%;
        height: 400px;
    }


}

/* Mobile-first */

@media screen and (max-width:768px) {
    .container {
        width: 375px;
        padding-top: 50px;
        padding-bottom: 60px;

    }

    .navbar__list {
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;
        padding-block: 25px;
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .description__title {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .description__about_par {
        text-align: center;
    }

    .description__button {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .header .container {
        padding-bottom: 30px;
    }

    .light-block__text {
        padding-top: 20px;
    }

    .work__list {
        flex-wrap: wrap;
    }

    iframe {
        width: 100%;
        height: 200px;
    }
}